<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>EDIT PROFILE</h1>
    <form action="" method="post">
        {% csrf_token %}
        First Name : <input type="text" name="fname" value="{{ details.first_name }}"><br>
        Last Name : <input type="text" name="lname" value="{{ details.last_name }}"><br>
        Email : <input type="email" name="email" value="{{ details.email }}"><br>
        Username : <input type="text" name="uname" value="{{ details.username }}"><br>
        Phone : <input type="number" name="ph" value="{{ details.phone }}"><br>
        Department : <input type="text" name="dpt" value="{{ details2.department }}"><br>
        Plus Two Mark : <input type="text" name="pm" value="{{ details2.plus_mark }}"><br>
        <input type="submit" value="UDATE">
    </form>
    <table>
        <tr>
            <th>Firstname</th>
            <th>lastname</th>
            <th>department</th>
            <th>plustwo mark</th>
        </tr>
        {% for stu in details2 %}
        <tr>
            <td>{{ stu.user_id.first_name }}</td>
            <td>{{ stu.user_id.last_name }}</td>
            <td>{{ stu.department }}</td>
            <td>{{ stu.plus_mark }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>