<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action=" " method="post">
        {% csrf_token %}
        first name <input type="text" name="first_name" ><br>
        last name <input type="text" name="last_name"><br>
        age <input type="text" name="age" ><br>
        phone<input type="text" name="phone" ><br>
        email<input type="text" name="email" ><br>
        username<input type="text" name="username" ><br>
        password<input type="password" name="password" ><br>
        <input type="submit" value="SUBMIT"><br>


    </form>
</body>
</html>